/* CSS Document */
#attractions-0{
    left:0px;
    top:0px;
}

#attractions-1{
    left:715px;
    top:0px;
}

#attractions-2{
    left:475px;
    top:0px;
}

#attractions-3{
    left:475px;
    top:165px;
}

#attractions-4{
    left:475px;
    top:330px;
}

#attractions-5{
    left:715px;
    top:330px;
}

#attractions-6{
    left:955px;
    top:330px;
}