/* CSS Document */
#charmGD-0{
    left:0px;
    top:0px;
}

#charmGD-1{
    left:715px;
    top:0px;
}

#charmGD-2{
    left:475px;
    top:0px;
}

#charmGD-3{
    left:475px;
    top:165px;
}

#charmGD-4{
    left:475px;
    top:330px;
}

#charmGD-5{
    left:715px;
    top:330px;
}

#charmGD-6{
    left:955px;
    top:330px;
}