/* CSS Document */
#children-0{
    left:0px;
    top:0px;
}

#children-1{
    left:474px;
    top:0px;
}

#children-2{
    left:0px;
    top:327px;
}

#children-3{
    left:238px;
    top:327px;
}

#children-4{
    left:474px;
    top:327px;
}

#children-5{
    left:712px;
    top:327px;
}

#children-6{
    left:950px;
    top:327px;
}

#children-7{
    left:950px;
    top:164px;
}

#children-8{
    left:950px;
    top:0px;
}
