/* CSS Document */

#edu-100{
	left:238px;
	top:0px;
}

#edu-101{
	left:712px;
	top:0px;
}

#edu-102{
	left:0px;
	top:0px;
}

#edu-103{
	left:0px;
	top:163px;
}

#edu-104{
	left:0px;
	top:326px;
}

#edu-105{
	left:238px;
	top:326px;
}

#edu-106{
	left:476px;
	top:326px;
}
