/* CSS Document */
#food-0{
    left:0px;
    top:0px;
}

#food-1{
    left:474px;
    top:0px;
}


#food-2{
    left:712px;
    top:0px;
}

#food-3{
    left:0px;
    top:327px;
}

#food-4{
    left:238px;
    top:327px;
}

#food-5{
    left:474px;
    top:327px;
}

#food-6{
    left:712px;
    top:327px;
}

#food-7{
    left:948px;
    top:327px;
}

#food-8{
    left:948px;
    top:163px;
}

#food-9{
    left:948px;
    top:0px;
}

