/* CSS Document */
.img-font img{
    width: 213px;
    height: 143px;
}



#members-0{
    left:0px;
    top:0px;
}

#members-1{
    left:238px;
    top:0px;
}

#members-2{
    left:476px;
    top:0px;
}

#members-3{
    left:714px;
    top:0px;
}

#members-4{
    left:952px;
    top:0px;
}

#members-5{
    left:0px;
    top:163px;
}

#members-6{
    left:238px;
    top:163px;
}

#members-7{
    left:476px;
    top:163px;
}

#members-8{
    left:714px;
    top:163px;
}

#members-9{
    left:952px;
    top:163px;
}

#members-10{
    left:0px;
    top:326px;
}

#members-11{
    left:238px;
    top:326px;
}

#members-12{
    left:476px;
    top:326px;
}

#members-13{
    left:714px;
    top:326px;
}

#members-14{
    left:952px;
    top:326px;
}
