/* CSS Document */
#recreation-0{
    left:0px;
    top:0px;
}

#recreation-1{
    left:710px;
    top:0px;
}

#recreation-2{
    left:0px;
    top:330px;
}

#recreation-3{
    left:236px;
    top:330px;
}

#recreation-4{
    left:472px;
    top:330px;
}

#recreation-5{
    left:708px;
    top:330px;
}

#recreation-6{
    left:944px;
    top:330px;
}

#recreation-7{
    left:472px;
    top:165px;
}

#recreation-8{
    left:472px;
    top:0px;
}
