/* CSS Document */

#shop-0{
	left:0px;
	top:0px;
}

#shop-1{
	left:712px;
	top:0px;
}

#shop-2{
	left:0px;
	top:327px;
}

#shop-3{
	left:238px;
	top:327px;
}

#shop-4{
	left:474px;
	top:327px;
}

#shop-5{
	left:474px;
	top:163px;
}

#shop-6{
	left:474px;
	top:0px;
}
