/* CSS Document */
#sports-0{
	left:0px;
	top:0px;
}

#sports-1{
	left:474px;
	top:0px;
}

#sports-2{
	left:474px;
	top:163px;
}

#sports-3{
	left:474px;
	top:326px;
}

#sports-4{
	left:712px;
	top:326px;
}
#sports-5{
	left:712px;
	top:163px;
}
#sports-6{
	left:712px;
	top:0px;
}
#sports-7{
	left:950px;
	top:0px;
}

#sports-8{
	left:950px;
	top:163px;
}

#sports-9{
	left:950px;
	top:326px;
}
