/* CSS Document */

#ticket-0{
	left:0px;
	top:0px;
}
#ticket-1{
	left:474px;
	top:0px;
}

#ticket-2{
	left:474px;
	top:327px;
}

#ticket-3{
	left:712px;
	top:327px;
}

#ticket-4{
	left:950px;
	top:327px;
}

#ticket-5{
	left:950px;
	top:163px;
}

#ticket-6{
	left:950px;
	top:0px;
}